html body{
  background-color:#EEEEEE;
	padding: 10px;
  font-family: 'Dancing Script', cursive;
  min-width: 100vw;
  min-height: 100vh;

}

h1 {
  margin: 45vh 40vw;
  text-align: center;
  font-size: 85px;
}

h2{
  margin-top: 45vh;
  text-align: center;
  font-size: 40px;
}

#navbar{
  background-color: none;
  position: fixed;
  top: 35vh;
  text-align: left;

  /*z-index: -1;*/
  border-radius: 12px;
}
li{
  padding: 5px;
  font-size: 35px;
}
#home{
  /*background-image: url("gray-carpet.jpg");*/
}

.corpo{
  height:90vh;
  width:90vw;
}
.corpoHome{
  height:100vh;
  width:100vw;
}

li button{
  color: #000000;
  background: cadetblue;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: 1.5em;
  width: 5em;
  font-size: 0.8em;

}
button:hover{
  background-color: #000000; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
